.faq-section {
  background: #3A2E5F;
}

.faq-section h2 {
  font-size: 2.3rem;
  font-weight: 700;
  color: #111;
}

.faq-card {
  background: #fff;
  border: 1px solid #eaeaea;
  transition: all 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.faq-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.07);
}

.faq-card.active {
  border-color: #3A2E5F;
  box-shadow: 0 6px 20px rgba(58, 46, 95, 0.15);
}

.faq-question {
  font-size: 1.05rem;
  color: #222;
  transition: color 0.3s ease;
}

.faq-card.active .faq-question p {
  color: #3a2e5f;
}

.faq-icon {
  font-size: 1.4rem;
  color: #444;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.faq-card.active .faq-icon {
  color: #3a2e5f;
}

.faq-answer {
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.faq-card.active .faq-answer {
  max-height: 300px;
  opacity: 1;
}

@media (max-width: 767px) {
  .faq-card {
    margin-bottom: 1rem;
  }
}




/* Testimonial */

.testimonial-section {
  background-color: #fff;
  /* background-image: radial-gradient(circle at top left, rgba(255, 255, 255, 0.05) 0%, transparent 60%); */
  color: black;
}

.testimonial-card {
  background: #3A2E5F !important;
  color: #fff !important;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.avatar-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.stars {
  color: #ffd700;
  font-size: 0.9rem;
}